* {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-element {
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: white;
  box-shadow: 1px 5px 10px #888888;
}

.select {
  position: absolute;
  width: 100%;
}
.select .btn {
  width: 50%;
  border-radius: 0;
  cursor: pointer;
  border: 0;
  height: 100%;
  background: #16BAC5;
  height: 60px;
  color: white;
  font-size: 20px;
}
.select .btn.active {
  background: #30C5FF;
}
.select .btn:focus {
  box-shadow: 0 0 0 0;
}

.signUp-page, .signIn-page {
  margin-top: 80px;
  padding: 0 50px;
}
.signUp-page input, .signIn-page input {
  margin: 20px 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #999;
}
.signUp-page input:focus, .signIn-page input:focus {
  border-color: black;
}
.signUp-page .btn-wrapper, .signIn-page .btn-wrapper {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.signUp-page .btn-wrapper.active, .signIn-page .btn-wrapper.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.signUp-page .btn, .signIn-page .btn {
  width: 80%;
  height: 60px;
  font-size: 30px;
  color: white;
  background: #2A2D34;
  cursor: pointer;
  position: relative;
  border: 0;
}
.signUp-page .btn:before, .signUp-page .btn:after, .signIn-page .btn:before, .signIn-page .btn:after {
  content: '';
  position: absolute;
  height: 60px;
  width: 60px;
  background: #2A2D34;
  border-radius: 50%;
}
.signUp-page .btn:before, .signIn-page .btn:before {
  left: -30px;
  top: 0;
}
.signUp-page .btn:after, .signIn-page .btn:after {
  right: -30px;
  top: 0;
}
.signUp-page .btn:focus, .signIn-page .btn:focus {
  box-shadow: 0 0 0;
}
.signUp-page p, .signIn-page p {
  margin-top: 20px;
}

.signIn-page {
  margin-top: 100px;
}

.signUp-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}
.signUp-success h1 {
  font-size: 30px;
  margin: auto;
  line-height: 40px;
}

.password {
  position: relative;
}
.password label {
  position: absolute;
  font-size: 15px;
  width: 100%;
  left: 0;
  top: -55px;
  background: #C20114;
  color: white;
  border-radius: 10px;
}
